.GalleryRoute {
  background: white;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.mobileTitle {
  font-family: "Rum Raisin", sans-serif;
}

ul {
  font-family: "Abel", sans-serif;
  list-style: none;
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-family: "Abel", sans-serif;
}

@media only screen and (min-width: 768px) {
  .mobileTitle {
    display: none;
  }

  .GalleryRoute h2 {
    margin-top: 200px;
  }

  .GalleryRoute ul {
    margin-top: 20px;
  }
}
