.GalleryRoute {
  background: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 200px;
}

.mobileTitle {
  font-family: "Rum Raisin", sans-serif;
  margin-left: 50px;
}

ul {
  font-family: "Abel", sans-serif;
  list-style: none;
  font-size: 24px;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  font-family: "Abel", sans-serif;
  margin-top: 20px;
  margin-left: 50px;
}

@media only screen and (min-width: 768px) {
  .mobileTitle {
    display: none;
  }

  .GalleryRoute h2 {
    margin-top: 300px;
    margin-left: 50px;
    font-size: 50px;
  }

  .GalleryRoute ul {
    margin-top: 20px;
  }
}
