Header h1 {
  display: none;
}

Header {
  background-color: grey;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Rum Raisin", sans-serif;
}
.watchlist {
  font-size: 30px;
}

.fa-solid {
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  Header {
    top: 0;
    bottom: revert;
    justify-content: space-between;
    align-items: revert;
  }
  Header h1 {
    display: block;
    font-size: 90px;
    margin-top: 80px;
    margin-left: 80px;
  }
  .headerDiv {
    display: flex;
    justify-content: stretch;
    width: 50%;
  }
  .containerSearchandFilter {
    margin-top: 40px;
  }
  p.watchlist {
    margin-top: 120px;
    margin-left: 100px;
    padding-bottom: 5px;
  }
  .fa-solid {
    margin-top: 120px;
  }
}
